<footer class="footer">
  <p class="footer-copyright">Copyright Statement</p>

  <nav class="footer-links">
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
    <a href="#" class="footer-link">Footer link</a>
  </nav>
</footer>
</div>


<script src="lib/jquery/dist/jquery.js"></script>
<script src="js/production.min.js"></script>

</body>
</html>
