<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Sunrise to Sunset Books</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/styles.css">

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="lib/respond/dest/respond.min.js"></script>
</head>
<body>

<header class="topnav">
  <div class="container topnav-container">
    <h1 class="topnav-logo"><a href="/">Sunrise to Sunset Books</a></h1>

    <a href="#" class="topnav-toggle" id="topnav_toggle"><i class="fa fa-list"></i> Menu</a>
  </div>
</header>

<div class="topnav-menu-container">
  <div class="container">
    <nav class="topnav-menu-items" id="topnav_menu">
      <a href="#" class="topnav-item topnav-item-active"><i class="topnav-item-icon fa fa-home"></i>Home</a>
      <a href="#" class="topnav-item"><i class="topnav-item-icon fa fa-user"></i>Account</a>
      <a href="#" class="topnav-item"><i class="topnav-item-icon fa fa-shopping-cart"></i>Cart</a>
      <a href="#" class="topnav-item"><i class="topnav-item-icon fa fa-comments"></i>Support</a>
    </nav>
  </div>
</div>
