<div class="sidebar-column">
  <div class="sidebar">
    <h3 class="sidebar-heading">Products</h3>

    <div class="sidebar-content">
      <nav>
        <div class="sidebar-item">
          <a href="#">EBooks</a>
          <i class="sidebar-toggle fa fa-chevron-right"></i>

          <div class="sidebar-submenu">
            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Fiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Drama</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Fantasy</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Mystery</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Romance</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Science Fiction</a>
                </li>
              </ul>
            </div>

            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Nonfiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Textbooks</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">History</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Language</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Science</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Technology</a>
                </li>
              </ul>
            </div>
          </div>
        </div><!--
        --><div class="sidebar-item">
          <a href="#">Textbooks</a>
          <i class="sidebar-toggle fa fa-chevron-right"></i>

          <div class="sidebar-submenu">
            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Fiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Drama</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Fantasy</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Mystery</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Romance</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Science Fiction</a>
                </li>
              </ul>
            </div>

            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Nonfiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Textbooks</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">History</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Language</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Science</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Technology</a>
                </li>
              </ul>
            </div>
          </div>
        </div><!--
        --><div class="sidebar-item">
          <a href="#">Hardcover</a>
          <i class="sidebar-toggle fa fa-chevron-right"></i>

          <div class="sidebar-submenu">
            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Fiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Drama</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Fantasy</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Mystery</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Romance</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Science Fiction</a>
                </li>
              </ul>
            </div>

            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Nonfiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Textbooks</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">History</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Language</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Science</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Technology</a>
                </li>
              </ul>
            </div>
          </div>
        </div><!--
        --><div class="sidebar-item">
          <a href="#">Paperback</a>
          <i class="sidebar-toggle fa fa-chevron-right"></i>

          <div class="sidebar-submenu">
            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Fiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Drama</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Fantasy</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Mystery</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Romance</a>
                </li>
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Science Fiction</a>
                </li>
              </ul>
            </div>

            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Nonfiction
              </a>
            </div>
          </div>
        </div><!--
        --><div class="sidebar-item">
          <a href="#">Childrens'</a>
          <i class="sidebar-toggle fa fa-chevron-right"></i>

          <div class="sidebar-submenu">
            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Fiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Easy Readers</a>
                </li>
              </ul>
            </div>

            <div class="sidebar-submenu-section">
              <a href="#" class="sidebar-submenu-heading">
                <i class="sidebar-section-toggle fa fa-chevron-circle-right"></i>
                Nonfiction
              </a>

              <ul class="sidebar-submenu-links">
                <li class="sidebar-submenu-item">
                  <i class="sidebar-submenu-icon fa fa-book"></i>
                  <a href="#" class="sidebar-submenu-link">Textbooks</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="adspot">
        <div class="mock-banner"></div>
      </div>
    </div>
  </div>
</div>
