<% include partials/header %>

<div class="container">
  <div class="content">
    <div class="hero">
      <h2 class="hero-heading">Sunrise Savers Club</h2>

      <p class="hero-text">Buy 3 books in one month and earn coupons and promotional savings.</p>

      <p class="hero-text">Buy 4 or more books and receive a gree gift.</p>

      <p class="hero-text">Buy 5 or more and qualify for your choice of EBook downloads!</p>

      <a href="#" class="hero-button">Sign up today!</a>
    </div>

    <% include partials/sidebar %>

    <div class="info">
      <div class="info-section">
        <h3 class="info-heading">New Arrivals</h3>

        <p class="info-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aut laudantium dignissimos explicabo quibusdam esse suscipit quos reprehenderit.</p>

        <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aut laudantium dignissimos explicabo quibusdam esse suscipit quos reprehenderit, quae velit aperiam alias dolores dolorum sint. Voluptatibus ex possimus vitae aperiam.</p>

        <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, ad expedita. Voluptatibus amet corrupti qui repudiandae, rerum voluptates velit explicabo magni. Saepe sunt dolores explicabo, aut vel deleniti ex fugit.</p>

        <a href="#" class="info-more">Learn More &raquo;</a>
      </div>

      <div class="info-section">
        <h3 class="info-heading">Sale and Clearance</h3>

        <p class="info-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aut laudantium dignissimos explicabo quibusdam esse suscipit quos reprehenderit.</p>

        <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, tenetur ipsum tempora quidem enim, earum odio. Fuga aut magni mollitia laboriosam ducimus, illum architecto dolorem voluptatibus magnam et at quaerat!</p>

        <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aut blanditiis eligendi recusandae libero ratione deleniti ab voluptate beatae, labore deserunt distinctio numquam, tempora sit iure laborum quos ipsum! Numquam.</p>

        <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, at! Est ea qui aspernatur molestiae officia id temporibus inventore, ipsa autem nesciunt pariatur. Dignissimos aliquid fugiat non, consectetur, quisquam dolorem.</p>

        <a href="#" class="info-more">Learn More &raquo;</a>
      </div>

      <div class="info-section">
        <h3 class="info-heading">Coming Soon</h3>

        <p class="info-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aut laudantium dignissimos explicabo quibusdam esse suscipit quos reprehenderit.</p>

        <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, tenetur ipsum tempora quidem enim, earum odio. Fuga aut magni mollitia laboriosam ducimus, illum architecto dolorem voluptatibus magnam et at quaerat!</p>

        <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, at! Est ea qui aspernatur molestiae officia id temporibus inventore, ipsa autem nesciunt pariatur. Dignissimos aliquid fugiat non, consectetur, quisquam dolorem.</p>

        <a href="#" class="info-more">Learn More &raquo;</a>
      </div>
    </div>
  </div>

  <% include partials/footer %>
